^{:teod.reflect/filewriter :teod.reflect.filewriter/hiccup-html
  :teod.reflect/transformers [{:sym teod.reflect.sci/eval
                               :opts {:sci-env {;; map sci ns -> clojure ns
                                                ;; try requiring-resolve clojure ns, map over to sci ns

                                                ;; so, what do we need? local slurp. local directory listing.
                                                ;; we could just .. try ... and see what happens.

                                                sh clojure.java.shell/sh
                                                }}}]}
;; Too much indirection lol
;;
;;  1. I can configure arbitrary thing properties up here
;;  2. Transformers are really generic -- but I can't pass values to them
;;
;;      - for instance, how do I configure the teod.reflect.sci/eval
;;        transformer? I'd like to pass args to it.
[:html {:class "no-js" :lang "en"}
 [:head
  [:meta {:charset "utf-8"}]
  [:meta {:http-equiv "x-ua-compatible" :content "ie=edge"}]
  [:title "aspirational hyper-incremental idea factory"]
  [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}]]
 [:body
  "Need to load that org"
  [:p (+ 1 2)]
  [:p "moreee"]

  ;; (sh ["echo" "123"])
  ]]
